html{
	scroll-behavior: smooth;
	scroll-padding-top: 50px;
}

body{
	font-family:Helvetica;
	background: linear-gradient(120deg, #795379, #333333 90%);
}

.menu{
	width: 100vw;
	height: 15vh;
	background: linear-gradient(180deg, rgb(26, 26, 26), rgb(0, 0, 0, 0) 50%);
	text-align: right;
}

ul li{
	display: inline-block;
	text-align: right;
	padding: 20px 50px;
	justify-content: right;
	transition: 0.2s all;
}

ul li a{
	color: #a6a6a6;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	user-select: none;
}

ul li:last-child{
	margin-right: 10%;
}

ul li:hover{
	transform: scale(1.4);
}

.projetos{
	display: flex;
	gap: 40px;
	justify-content: center;
	width: 70%;
	margin: 100px auto;
	padding: 50px 0;
	background-color: rgb(255, 255, 255, 0.1);
	border: 1px solid #4d4d4d;
	border-radius: 15px;
	box-shadow: 15px 15px 30px 10px rgb(0, 0, 0, 0.2), inset -15px -15px 30px 10px rgb(0, 0, 0, 0.05);
}

.projetos > div{
	width: 200px;
	cursor: pointer;
	background-color: rgb(204, 204, 204, 0.15);
	border-radius: 15px;
	text-align: center;
	font-size: 20px;
	padding: 40px 0;
	transition: 0.2s all;
	box-shadow: 10px 10px 30px 10px rgb(0, 0, 0, 0.2), inset -15px -15px 30px 10px rgb(0, 0, 0, 0.15);
	border: 1px solid #4c344c;
	color: #262626;
	text-transform: uppercase;
	user-select: none;
}

.projeto-item:hover{
	transform: scale(1.2);
}

/* CONTATO */

.contato{
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 100px 0;
	color: white;
	background-image: url("images/bg.jpg");
}

form{
}

label{
	margin: 10px;
}

input{
	background-color: grey;
}


/*mobile*/

@media only screen and (max-width: 500px) {
 

}