body{
	font-family:Helvetica;
	background-color:#333333;
	background-image: url("images/bg.jpg");
}

header{
	width: 100vw;
	background-color: #1a1a1a;
	height: 250px;
}

#hello{
	font-size: 120px;
	text-align: center;
	width: 800px;
	color: white;
	margin: -90px auto 0 auto;
	padding: 30px 60px;
	background-color: black;
	font-family: monospace;
}

span{
	background-color: black;
	color: pink;
}

#projetos{
	background-color: rgb(255, 179, 203, 0.2);
	margin: 100px auto;
	width: 70%;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5%;
	flex-wrap: wrap;
}

#projetos > div{
	width: 300px;
	height: 200px;
	background-color: darkgrey;
	box-shadow: 3px 10px 5px 5px #888888;
	text-align: center;
	font-size: 210px;
	cursor:pointer;
	transition: 0.3s all;
}

#projetos > div:hover{
	transform: scale(1.2);
}